@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #111;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}
a:focus {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

.border-underline {
  display: inline-block;
  border-bottom: 1px solid #3c9f8f;
}

.cta-button {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1rem;
  background-color: #3065f8;
  color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
  display: inline-block;
}

.email-input {
  display: inline-block;
}

.navbar {
  padding: 2rem 0;
  list-style: none;
}
.navbar-item {
  padding: 0 2rem;
}
.navbar-item a {
  font-size: 1rem;
  color: #111;
}
.navbar-toggler {
  border: none;
}

#main {
  padding: 4rem 0 15rem;
  background-image: url(../img/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.main-content {
  padding: 2rem 0 0;
  color: #070439;
}
.main-content h1 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.main-content p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1rem;
}
.main-img {
  width: 100%;
}

.main-form-group {
  display: flex;
}
.main-form-group_email {
  border-color: #070439;
  font-size: 1rem;
  padding: 1.4rem;
  width: 60%;
}
.main-form-group_btn {
  margin-left: 1rem;
  width: 40%;
}

#testimonials {
  background-color: #F8F8FE;
  margin: 0;
  padding: 2rem 0 7rem;
}

.testimonials-content {
  padding-right: 4rem;
  color: #070439;
}
.testimonials-content h1 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.testimonials-content p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1rem;
}
.testimonials-content a, .testimonials-content i {
  font-size: 1rem;
  color: #3c9f8f;
}
.testimonials-content a {
  margin-right: 0.5rem;
}
.testimonials-img {
  width: 100%;
}
.testimonials-card {
  margin-top: 3rem;
  padding: 1rem 2rem;
  width: 55%;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
}
.testimonials-card h4 {
  font-size: 0.7rem;
}
.testimonials-card p {
  font-size: 0.9rem;
}
.testimonials-media img {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 15%;
}
.testimonials-media h3 {
  margin: 0;
  margin-top: 0.4rem;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.8rem;
}
.testimonials-media p {
  font-size: 0.6rem;
}

#cta {
  padding: 7rem 0 6rem;
  color: #fff;
  background-color: #585989;
}

.cta-content {
  margin-right: 3.5rem;
}
.cta-content h2 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.cta-content p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1rem;
}

.cta-form {
  margin-left: 3rem;
}
.cta-form-group_email {
  font-size: 1rem;
  padding: 1.5rem;
}
.cta-form-group_btn {
  padding: 0.7rem 2.5rem;
  margin-top: 1rem;
}

.footer {
  background-color: #070439;
  padding: 7rem 0 4rem;
  color: #fff;
  font-size: 0.9rem;
}
.footer-logo {
  width: 15%;
  margin-bottom: 2rem;
}
.footer-info {
  display: flex;
}
.footer-info p {
  margin-left: 1rem;
}
.footer-phone {
  margin-top: 0.2rem;
}
.footer-email {
  margin-top: 0.2rem;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding-left: 5rem;
}
.footer-list li {
  padding: 0.4rem 0;
}
.footer-list li:first-child {
  padding: 0 0 0.4rem 0;
}

.socials {
  display: block;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.socials-item {
  display: inline-block;
  padding: 0 0.5rem;
}
.socials-item a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-top: 10%;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar-brand {
    width: 8rem;
  }
  .navbar-brand img {
    width: 90%;
  }

  #main {
    padding-bottom: 12rem;
  }

  .main-content h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 1.6rem;
  }
  .main-content p {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 0.8rem;
  }

  #testimonials {
    padding: 2rem 0 7rem;
  }

  .testimonials-content {
    padding-right: 1rem;
  }
  .testimonials-content h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 1.6rem;
  }
  .testimonials-content p {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 0.8rem;
  }
  .testimonials-content a, .testimonials-content i {
    font-size: 0.8rem;
  }
  .testimonials-card {
    width: 75%;
  }
  .testimonials-card p {
    font-size: 0.8rem;
  }

  .cta-content {
    margin-right: 1rem;
  }
  .cta-content h2 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 1.6rem;
  }
  .cta-content p {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.7rem;
  }
  .footer-logo {
    width: 8rem;
  }

  .socials-item a {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 2rem 0 0;
  }
  .navbar-nav {
    padding: 1rem 0;
  }
  .navbar-item {
    padding: 0;
  }

  #main {
    padding-top: 1rem;
    padding-bottom: 7rem;
    text-align: center;
  }

  .main-img {
    padding-top: 2rem;
    width: 70%;
  }
  .main-content {
    padding-top: 4rem;
  }
  .main-content h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
  }
  .main-content p {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1rem;
  }

  .main-form-group {
    display: block;
  }
  .main-form-group_email {
    width: 80%;
  }
  .main-form-group_btn {
    padding: 0.65rem 5rem;
    margin: 1rem 0 0;
    width: 80%;
  }

  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  #testimonials {
    text-align: center;
  }

  .testimonials-content {
    text-align: center;
    padding-right: 1rem;
  }
  .testimonials-content h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
  }
  .testimonials-content p {
    text-align: left;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1rem;
  }
  .testimonials-content a, .testimonials-content i {
    font-size: 1rem;
  }
  .testimonials-content a {
    margin: 2rem 0 3rem;
  }
  .testimonials-wrap {
    padding: 0 2rem;
  }
  .testimonials-card {
    text-align: left;
    width: 100%;
    margin-top: 0;
  }
  .testimonials-card p {
    font-size: 0.8rem;
  }
  .testimonials-img {
    padding-bottom: 4rem;
    width: 70%;
  }

  .cta-content {
    text-align: center;
  }
  .cta-content h2 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
  }
  .cta-content p {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1rem;
  }

  .cta-form {
    text-align: center;
    margin-left: 0;
  }
  .cta-form-group_email {
    margin-top: 2rem;
    width: 80%;
  }
  .cta-form-group_btn {
    width: 80%;
  }

  .footer {
    padding-top: 4rem;
    font-size: 1rem;
  }
  .footer-list {
    padding-left: 0;
  }

  .socials {
    margin-top: 3rem;
  }
  .socials-item a {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}